POSTGRES_DB=user_db
POSTGRES_USER=user_user
POSTGRES_PASSWORD=changeme
DB_HOST=postgres
DB_PORT=5432
DB_NAME=user_db
DB_USER=user_user
DB_PASSWORD=changeme
REDIS_HOST=redis
REDIS_PORT=6379
KC_BOOTSTRAP_ADMIN_USERNAME=kcadmin
KC_BOOTSTRAP_ADMIN_PASSWORD=changeme
KEYCLOAK_REALM=microservices-realm
KEYCLOAK_CLIENT_ID=app-client
KEYCLOAK_CLIENT_SECRET=changeme
KEYCLOAK_DB_NAME=keycloak_db
KEYCLOAK_DB_USER=kc_user
KEYCLOAK_DB_PASSWORD=changeme
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=changeme
JWT_ACCESS_TOKEN_VALIDITY=900
JWT_REFRESH_TOKEN_VALIDITY=604800
INTERNAL_SERVICE_SECRET=changeme